<div class="container-fluid marketing" style="padding-left:50px; padding-bottom:30px; background-image: url(/img/pink.png); background-size: 100% 100%">
  <div class="row featurette" >
    <div class="col-md-7">
      <h2 class="featurette-heading">
           <img src="/img/texts/order-title.png" style="height: 35px; margin-top: 30px"/></br>
      </h2>
      <p class="lead">
      <img src="/img/texts/order-subtitle.png" style="height: 25px;"/></br>
      </p>
    </div>
  </div>
